<!-- src/app/features/users/ui/users-page/users-page.component.html -->
<mat-card class="p-5 mt-6">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-2xl font-semibold">Usuarios</h2>
    <!-- <button mat-flat-button color="primary" (click)="newUser()">
      <mat-icon>add</mat-icon> Nuevo usuario
    </button> -->
  </div>

  <app-table
    [columns]="columns"
    [data]="data"
    [loading]="loading()"
    [total]="total"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [actions]="tableActions" 
    (paginate)="onPaginate($event)"
    (action)="onAction($event)">
  </app-table>
</mat-card>
